.proswitch
  span
    transition all 200ms cubic-bezier(.57,.21,.69,3.25)
    color #4d4d4d

.proswitch.active
  span
    color #fff

  .css-1v96km2-Switch
    transition all 200ms cubic-bezier(.57,.21,.69,3.25)
    left 27px
    bottom 0px
    top 0px

  &:hover
    .css-1v96km2-Switch
      left 22px
    

.css-xjimrv-Switch
  width 54px !important

  .css-153wf2s-Switch
    background-color #4d4d4d

  .css-19a995p-Switch
    right 27px
    bottom 0px
    top 0px

  &:hover
    .css-19a995p-Switch
      right 22px