@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.digit
  margin auto
  margin-bottom 2rem
  text-decoration none

  span
    color #fff
    font-family Inconsolata
    height fit-content
    align-self center
    transition all 200ms cubic-bezier(.57,.21,.69,1.71)

    &:hover
      color #00FFFF
      transform scale(1.1)
  