#contacto
  .bg-contact
    display none

@media only screen and (min-width: 60em)
  #contacto
    .bg-contact 
      display block
      background-image url('https://pssbikes.com/images/contacto-pss.jpg')
      height 100vh
      margin 0
      padding 0
      width 100%
      background-position center
      background-size cover