.text-icons-container
  display flex
  flex-direction column
  height 100vh

  h1 
    text-transform uppercase
    font-size: 2.5rem
    display block
    text-align center

  h2
    font-size: 1.5rem
    font-weight 300
    display block
    text-align center

  img.bike
    position absolute
    left 25%
    top 30%
    width 50%

  .info
    position absolute
    bottom 0px
    left 0px

  .secondary-img
    position absolute
    bottom 0px
    right 0px
    width 20%

    img
      display block
      width 100%
      
    .secondary-img-overlay
      width 100%
      height 100%
      position absolute
      top 0px
      left 0px
