*
  font-family 'Montserrat'

body 
  margin 0px
  height 100%
  overflow-x hidden

.btn-slider 
  position absolute
  top 50%
  border none
  background transparent
  font-size 2em
  cursor pointer

.btn-next
  right 3%

.btn-back
  left 3%