*
  font-family 'Montserrat'


html 
  scroll-behavior smooth

body 
  margin 0px
  height 100%
  overflow-x hidden

.hoverable
  text-decoration none

.btn-slider 
  position absolute
  top 50%
  border none
  background transparent
  font-size 2em
  cursor pointer

.btn-next
  right 3%

.btn-back
  left 3%

.body
  position relative
  z-index 1

h1
h2
h3
p
  cursor default

a
  text-decoration none
    