.bg-primary
.bike-color
.bg-text
  transition all 800ms cubic-bezier(0.22, 0.68, 0, 1.71)

.light-theme

  .btn.btn-dark
    background #000
    color #fff

  .bg-primary
    background #fff

  // BIKE INFO //
  .bike-info
    h1
      color #000
      
      &:before
        background #000

    .bike-info-container

      .bike-info-text
        color #000

      .bike-info-list
        ul
          li
            color #000

      .bike-info-price

        span
          color #000 !important

        &:before
          background #000
          border 3px solid #000

    .colors-container

      .bike-color
        border solid 2px #000

  // BIKE DESCRIPTION //

  #bike-description 
    .bg-text
      color #fff
      text-shadow 2px 2px 20px rgba(0,0,0,0.08)
      transition all 400ms cubic-bezier(.22,.68,0,1.11)

    .description-content

      h2
        text-align left
        position relative
        color #585858
        left 5%
        text-shadow 0 2px 10px rgba(0,0,0,0.4)

      p
        color #181818
        padding 0 20% 0 20%
        text-transform none
        &:before
          background #131313

  // PRO SWITCH //

  // FOOTER //
  footer
    background #f7f7f7

    .down

      h2
        span
        strong
          color #000

    .socials
      .social-link
        a
          img 
            filter invert(0)
          span
            color #000

    a
    span
    strong
      color #000
    
    .line
      background #ed1c24

  // CONTACTO //
  #contacto

    h3
    h2
      color #000

    .input-group

      input
      textarea
        color #fff

        &::placeholde
          color #fff

      label
        color #fff

  // HEADER //
  #header
    .nav-right
      .theme-icon
        background #000

        img
          filter invert(1)

      .toggle-menu span:before 
      .toggle-menu span:after
      .toggle-menu span
        background-color #000

      .toggle-menu.active span 
        background-color transparent

  #menu
    background #fff
    .menu-row 
      .main-nav 
        a
          color #000
      .socials 
        .social-link 
          a
            span
              color #000
            
            img
              filter invert(0)

  // GALLERY //

  .gallery-count
    color #000