.gallery-image
  width 40vw
  height 30vw
  margin 0 2rem
  background-size cover
  background-position center
  box-shadow 1px 1px 10px rgba(0,0,0,0.15)
  cursor pointer
  transition all 400ms cubic-bezier(.22,.68,0,1.71)

  &:hover
    transform scale(1.02)

.gallery-count 
  margin-left 2.5rem
  font-size 1.7rem
  color #fff
  display flex
  font-weight 600

  span
    font-size 1rem
    color #aaa
    font-weight 300
    display flex
    margin auto 0.5rem

@media only screen and (min-width: 60em)
  .gallery-image
    margin 0 2rem