.icons-container
  margin auto
  display grid
  grid-template-columns 40% 40%
  column-gap 20%

  .icon-item
    display flex
    flex-direction column

    img
      width 40%
      filter: invert(1);

    p
      font-size 1rem
      margin-top 0

@media only screen and (min-width: 60em)
  .icons-container
    margin auto
    display grid
    grid-template-columns 20% 20% 20% 20%
    column-gap 6.6%
