.bike-info
  width 80%
  margin auto

  h1
    font-size 3.5rem
    &:before
      content ''
      margin-right 5%
      width 13%
      height 3px
      background #fff
      display inline-block

  .bike-info-container
    margin-left 19%

  .bike-info-price
    font-size 1.5rem
    font-weight 900
    margin-right 1em
    &:before
      content ''
      background #fff
      border 3px solid #fff
      margin-right 0.5em

.bike-color
  height 30px
  width 30px
  display inline-block
  border-radius 100px
  margin 28px 0em 0px 0.6em
  box-shadow 0px 3px 6px rgba(0,0,0,0.16)
