.info-left
  margin auto

.info-right
  margin auto auto auto 0

.bike-info

  h1
    transition all 400ms cubic-bezier(.22,.68,0,1.11)
    font-size 2.8rem
    color #fff
    margin 0px
    text-decoration none
  
    &:before
      content ''
      margin-right 5%
      width 13%
      height 3px
      background #fff
      display inline-block
      
    &:hover
      transform scale(1.05)

  .bike-info-container

    .bike-info-text
      font-size 1rem
      color #fff
      margin-right 2rem

    .bike-info-list
      ul
        padding-left 1rem
        li
          color #fff

    .bike-info-price
      font-size 1.5rem
      font-weight 400
      margin-right 1em

      span
        color #fff !important

      &:before
        content ''
        background #fff
        border 3px solid #fff
        margin-right 0.5em

.colors-container
  display flex
  float none !important
  margin-left 0px !important

  .bike-color
    height 15px
    width 15px
    display inline-block
    border-radius 100px
    margin 1rem 0em 1rem 0.6em
    border solid 2px #fff
    box-shadow 0px 3px 6px rgba(0,0,0,0.16)

    &:first-child
      margin-left 0px

@media only screen and (min-width: 60em)

  .bike-info.info-left
    margin-right 15%
    margin-left 5%
    
    .bike-info-container
      margin-left 19%
      margin-right 0

  .bike-info
    width 80%
    margin-left 15%

    .bike-info-text
      margin-right 0