.bike-info
  width 80%
  margin auto

  h1
    font-size 3.5rem
    color #fff
    margin 0px
    &:before
      content ''
      margin-right 5%
      width 13%
      height 3px
      background #fff
      display inline-block

  .bike-info-container
    margin-left 19%

    .bike-info-text
      font-size 1rem
      color #fff

    .bike-info-list
      ul
        padding-left 1rem
        li
          color #fff

    .bike-info-price
      font-size 1.5rem
      font-weight 900
      margin-right 1em
      color #fff
      &:before
        content ''
        background #fff
        border 3px solid #fff
        margin-right 0.5em

.colors-container
  display flex
  float none !important
  margin-left 0px !important

  .bike-color
    height 15px
    width 15px
    display inline-block
    border-radius 100px
    margin 1rem 0em 1rem 0.6em
    border solid 2px #fff
    box-shadow 0px 3px 6px rgba(0,0,0,0.16)

    &:first-child
      margin-left 0px
