#about
  .bg-about-us
    display none

  p
    font-size 1em

@media only screen and (min-width: 60em)
  #about
    .bg-about-us
      display block
      background-image url('https://pssbikes.com/images/taller.jpg')
      height 100vh
      margin 0
      padding 0
      width 100%
      background-position center
      background-size cover